<link href="~/Content/Armory.css" rel="stylesheet" />
<div id="ArmoryVue" class="vue-app">
    <div class="page-header text-center"><h2>Armory</h2></div>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4" id="gear-selection">
                    <span class="text-center"><h3>Gear Selection</h3></span>
                    <div id="selection-container">
                        <gear-tile geartype="head"></gear-tile>
                        <gear-tile geartype="chest"></gear-tile>
                        <gear-tile geartype="arm"></gear-tile>
                        <gear-tile geartype="waist"></gear-tile>
                        <gear-tile geartype="legs"></gear-tile>
                    </div>
                </div>
                
                <div class="col-md-8" id="gear-overview">
                    <span class="text-center"><h3>Gear Overview</h3></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Vue/Components/gearTile.js"></script>

<script>


    var vm = new Vue({
        el: '#ArmoryVue',
        data: {
            name: '',
            visFlags: {
                activeSearch: '',
            },
            search:
            {
                head: {
                    query: '',
                    showSpinner: false,
                    results: [],
                },
                arms: {

                },
                chest: {

                },
                waist: {

                },
                legs: {

                },
            }
        },
        methods: {
            openGearSearch(event, type) {
                this.visFlags.activeSearch = this.visFlags.activeSearch == type ? '' : type;
            },
            showSpinner: function () {
                $('.spinner-div').hasClass('active') ? $('.spinner-div').removeClass('active') : $('.spinner-div').addClass('active');
            },
        },
        computed: {

        },
        mounted() {
            console.log(this.visFlags.activeSearch)
        },
    })
</script>