MonsterHunterCodex/.vs/MonsterHunterCodex/v16/Server/sqlite3/storage.ide-wal
MonsterHunterCodex/.vs/MonsterHunterCodex/v16/.suo
MonsterHunterCodex/MonsterHunterCodex/obj/Debug/MonsterHunterCodex.csprojAssemblyReference.cache
