<div id="QuestVue">
    {{ message }}
</div>
<script>
    var vm = new Vue({
        el: '#QuestVue',
        data: {
            message: 'Hello'
        },
        methods: {

        },
        computed: {

        },
        mounted() {

        } ,
    })
</script>