html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #292929;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
    margin-bottom: -50px;
    margin-top: 60px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.footer {
    background-color: #222;
    border-color: #080808;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    color: #cecece;
    padding: 5px;
}

.nav-bar-inverse {
    background-color: #121212;
}

.data-container{
    background-color: #1D1D1D;
    border-radius: 15px;
    margin:5px;
}

.data-container-flex {
    padding: 20px;
    background-color: #1D1D1D;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.panel{
    border: none !important;
}

.slide-enter-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.slide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
    max-height: 100px;
    overflow: hidden;
}

.slide-enter, .slide-leave-to {
    overflow: hidden;
    max-height: 0;
}

.btn-blu {
    color: #fff;
    background-color: #0052ab;
    border-color: #0052ab;
    transition: .15s ease;
}

.btn-blu:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-red {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    transition: .15s ease;
}

.btn-red:hover {
    color: #fff;
    background-color: #d8817e;
    border-color: #d8817e;
}

.btn-red:active {
    color: #fff !important;
}

.vue-app{
    margin-bottom:25px;
}

.list-title {
    color:white;
    font-size:150%;
    background-color: #222222 !important;
}

.table-icon{
    float:left;
}

.list-group{
    margin:5px;
}

.list-group-item {
    background-color: #606060;
}

.list-group-item:hover {
    border: 1px solid #ddd !important;
    background-color: #8e8787;
    font-weight: 100 !important;
}

.data-container-header {
    min-width: 100%;
    background-color: #222222;
    color: white;
    padding: 10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.btn-dark {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    background-color: #292929;
}

.btn-dark.active {
    background-color: #0052ab;
}

.btn-dark:hover{
    color:white;
    text-decoration: underline;
}

.data-container-footer {
    min-width: 100%;
    background-color: #222222;
    color: white;
    padding: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
._show {
    opacity: 1;
    transition: .75s ease;
}

._hide {
    opacity: 0;
    transition: .50s ease;
}

.btn-purple {
    background-color: #870CF9;
    color: white;
    border: none;
    transition: ease-out .25s;
}

btn-purple:hover {
    background-color: white;
    color: #870CF9;
}