@using MonsterHunterCodex.Models
@{
    @model RiseArmoryModel
    ViewBag.Title = "index";

}

<div id="RiseArmoryVue">
    <div class="page-header text-center"><h2>Monster Hunter Rise Armory</h2></div>
    <div class="container-fluid">

    </div>
</div>
<script>
    var vm = new Vue({
        el: '#RiseArmoryVue',
        data: {
            message: 'Hello'
        },
        methods: {

        },
        computed: {

        },
        mounted() {

        },
    })

</script>
